################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WinFormsUI/.vs/WinFormsUI/v15
/WinFormsUI/obj/Debug
/Puzzle/bin/Debug
/Puzzle/obj
/WinFormsUI/bin/Debug
/WinFormsUI/obj
/WinFormsUI/.vs/WinFormsUI/lut
/Test.Puzzle/bin/Debug/netcoreapp2.1
/Test.Puzzle/obj
