################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# User specific directory used by Visual Studio.
**/.vs

# We don't want any of the local build stuff going into source control.
**/bin
**/obj

# NuGet packages should be download at build time.
**/packages